body{
    font-family: 'Netflix Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}


main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card  {
    margin: 20px;
}

div div{
    min-height: 100px;
}