body {
    background-color: rgb(28, 25, 25);
    margin: 0%;
    font-family: 'Comic Neue', cursive;
    font-weight: 1000;
}

nav {
    background-image: linear-gradient(180deg, rgb(216, 25, 25) 50%, rgb(255, 255, 255) 50%);
    text-align: center;
    margin: 0;
}

#logo {
    width: 350px;
    height: 150px;
} 

main {
    display: flex;
    flex-wrap: wrap;
    margin-left: 120px;
}

.card {
    width: 250px;
    height: 450px;
    margin: 20px;
    padding: 20px;
    border: 1px solid black;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  
    text-align: center;
    position: relative;
}

img {
    width: 280px;
    height: 280px;
    z-index: 3;
    position:relative;
    margin: auto;
    top: -30px;
    left: -40px;
}

.circle {
    background-color: rgb(168, 167, 158);
    width: 200px;
    height: 200px;
    border-radius: 100px;
}
h2{
    font-size: 29px;
}

.circle~div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 150px;
}

span {
    padding: 5px;
    border-radius: 6px;
    border: 1px solid black;
    text-align: center;
    padding: 7px 15px;
    width: 50px;
    text-align: center;
    margin: auto;
}

.ghost {
    background-color: mediumorchid;
}

.fire {
    background-color: rgb(219, 32, 32);
    color: white;
}

.water {
    background-color: rgb(21, 94, 204);
    color: white;
}

.fairy {
    background-color: rgb(213, 147, 169);
}

.rock {
    background-color: rgb(114, 66, 66);
    color: white;
}

.sinister {
    background-color: grey;
}

.figth {
    background-color: rgb(65, 78, 65);
    color: white;
}

.ice {
    background-color: rgb(127, 255, 253);
}

.psychic {
    background-color: rgb(122, 45, 122);
    color: white;
}

.dragon {
    background-image: linear-gradient(180deg, rgb(116, 128, 205) 50%, rgb(83, 181, 103) 50%);
}
.plant{
    background-color: rgb(60, 148, 60);
}


#mismagius{
    background-color: rgb(193, 138, 207);
}
#squirtle{
    background-color: rgb(58, 147, 58);
}
#purrloin{
    background-color:slategrey;
}
#rapidash{
    background-color: rgb(206, 161, 106);
}
#dragonair{
    background-color: rgb(78, 39, 39);
}
#dragonair h2{
    color: white
}
#marill{
    background-color: rgb(203, 203, 113);
}
#kirlia{
   
    background-color: rgb(208, 112, 112);
}

#tirtouga{
    background-color: rgb(29, 82, 29);
}
#tirtouga h2{
    color: white;
}
#mienfoo{
    background-color: rgb(202, 187, 166);
}
#bellossom{
    background-color: rgb(67, 122, 134);
}
#reshiram{
    background-color: rgb(41, 40, 40) ;
}

#reshiram h2{
    color: white;
}
#cubchoo{
    background-color:rgb(125, 61, 125) ;
}
#cubchoo h2{
    color: white
}
#tepig{
    background-color:peru ;
}
#cresselia{
    background-color:rgb(201, 201, 134) ;
}
#totodile{
    background-color: rgb(105, 105, 155);
}